{% extends "default" %}
{% block content_wrapper %}
    <div>
        <div>
            <h2>{{ page.title }}</h2>
        </div>
        <div>
            {{ page.blocks.content|raw }}
        </div>

        <p>
            投稿日: {{ page.date|date("Y/m/d") }}
        </p>

        {% if page.categories %}
            <p class="categories">
            カテゴリ:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}

        {% if page.previous_post or page.next_post %}
            <div class="article">
                <ul>
                    {% if page.next_post %}
                        <li>次の記事: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>前の記事: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
